.header_area{
	background-image:url("../images/backgroundtwo.svg"),url("../images/backgroundone.png");
    background-size:cover;
    height:100vh;
}
.navbar-default {
    background-color: transparent;
    border-color: transparent;    
    padding-top:40px;
}
.navbar-default .navbar-header{
    background:#fff;
    border-radius: 5px;
}
.navbar-header a{
    
}
.navbar-brand {

}
.navbar-brand {
	padding: 12px 12px;
	height: 45px;
	font-size: 20px;
	line-height: 18px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	 margin-left: 0px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
    font-size:18px;
    text-transform: uppercase;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
	color: #fff;
	background-color: transparent;
}
.header_text{
    margin-top:120px;
}
.header_text h1{
    color:#fff;
}
.header_text p{
    color:#ddd;
    font-size:20px;
}
.header_text button{
    margin-top:20px;
    background-color:#2595FF;
    width:200px;
}

/*promotion*/
.promotion_area{
}
.promotion{
    padding:100px 0px 0px 0px;
}
.promotion_left{
    
}
.promotion_left img{
    
}
.promotion_right{
    
}
.promotion_right_top {
	padding-top: 200px;
}
.promotion_right_top span {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #ddd;
}
.promotion_right_top h2 {
	margin: 0;
	padding: 5px 36px 10px 0;
	font-family: "Work sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.promotion_right_top p {
	color: #6c6f73;
	font-size: 18px;
	letter-spacing: 1px;
}
.promotion_right_bottom{
    
}
.single_right_bottom {
	width: 275px;
	float: left;
}
.single_right_bottom h5 {
	color: #2D3238;
	font-weight: bold;
	font-size: 17px;
	line-height: 1.2;
}
.single_right_bottom p {
	padding-right: 33px;
	font-size: 16px;
	color: #6c6f73;
}

/*Docs style*/
.read_docs_area{background-color:#262F36;color:#fff; overflow: hidden;}
.read_docs_area>.container-fluid{padding:0;}
.read_docs {
	padding: 80px 0px;
}
.read_docs_right {
	margin-top: 95px;
    padding-left: 115px;
}
.read_docs_right span{
    text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
	color: #ddd;
}
.read_docs_right h2 {
	margin: 0;
	padding: 5px 0px 10px 0;
}
.read_docs_right p{
    color: #ABAEB1;
	font-size: 18px;
	letter-spacing: 1px;
}
.read_docs_right button {
	background-color: #fff;
	color: #000;
	border-color: transparent;
	margin-top: 15px;
}
.read_docs_right .btn-primary:hover {
	color: #000;
	background-color: #E6E6E6;
	border-color: transparent;
}
.read_docs_left{}
.code {
	border: 1px solid #747474;
	padding: 50px;
}
/*Praise_area*/
.praise_area {
	background-image: url(../images/workimg.jpg);
	background-size: cover;
	height: 770px;
	position: relative;
}
.qoute {
	position: absolute;
	width: 500px;
	right: 84px;
	top: 50%;
}
.qoute span {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ddd;
}
.qoute h1 {
	color: #fff;
	margin: 0;
	padding: 4px 117px 15px 0;
	font-size: 25px;
}
.qoute p {
	color: #ddd;
	letter-spacing: 1px;
}
.qoute h1{}
.qoute p{}
/* ad area */
.ad_area {
	height: 125px;
	background-color: #2595FF;
}
.ad {
	padding-top: 40px;
	text-align: center;
}
.ad img {
	display: inline-block;
	padding: 0px 5px;
}
.machine_area {
	padding: 100px 0px;
}
.machine_area_top, .price_area_top {
	text-align: center;
}
.machine_area_top p, .price_area_top p {
	color: #BEC8CE;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}
.machine_area_top h3, .price_area_top h3 {
	padding: 0px 312px;
	margin-bottom: 50px;
	letter-spacing: 2px;
	font-weight: bold;
    color:#2D3238;
}
.machine_area_bottom, .price_area_bottom{text-align: center;}
.machine_area_bottom img{}
.machine_area_bottom p {
	padding: 0 4px;
	line-height: 1.4;
	letter-spacing: 0.5px;
	color: #6c6f73;
}
.machine_area_bottom p span {
	font-size: 15px;
	font-weight: bold;
	color: #6C6F7B;
}
.price_area{
    background-color: #F4F5F6;
    padding:100px 0px;
}
.price_area_top{}
.price_area_top p{}
.price_area_top h3{}
.price_area_bottom{}
.price_single_item{}
.price_single_item span{
    color: #BEC8CE;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
    display: block;
    margin-bottom:15px;
}
.price_single_item img{}
.price_single_item p {
	padding: 15px 18px;
	color: #848689;
	font-size: 15px;
	letter-spacing: .5px;
}
.price_single_item ul{
    margin:0;
    padding: 0;
    list-style: none;
}
.price_single_item ul li {
	border-top: 1px solid #ddd;
	padding: 20px 0px;
	text-align: left;
	font-size: 15px;
}
.price_single_item button{}
.footer_area{}
.about{}
.about h3{}
.about p{}
.footer_single_widget{}
.footer_single_widget h3{}
.footer_single_widget ul{}
.footer_single_widget ul li{}






















