/*Custom css*/
.header_bg{
    min-height: 95px;
    background-color: #000000;
}
.logo{
    padding-top: 17px;
}
.nav_bar{
    padding-top: 25px;
}
.new_nav_style{
    background-color:transparent;
    background-image: none;
    box-shadow: none;
    border:0px;
}
.navbar-default .navbar-nav > li > a {
	color: #fff;
}
/*Slider style*/
.header_bg_image{
    background:url(../images/bg_image.jpg) no-repeat;
    min-height: 649px;
    background-size: cover;
    background-position: center center;
}
.header_caption {
	margin: 187px auto;
	width: 42%;
}
.header_caption h1{
    color:white;
    font-weight: bold;
    font-size: 80px;
    text-transform: uppercase;
}
.header_caption button{
    color:white;
    border:0px;
    background-color: black;
    padding: 10px 20px; 
    float:right;
    margin-top:30px;
}